.cards {
    display: flex;
    justify-content: space-evenly;
 }

  h1{
      margin-left:  40px; ;
  }
 #title {
    text-align: center;
  }
  #content_card{
    justify-content: center;
    padding:10px;

}
#linkCard {

text-decoration: none;
color: black;


}
#content_card img{
    width:200px;
    height:200px;
    align-content: center;

}
.content{
    display: flex;

justify-content: center;}